* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #080404;
  color: white;
  font-family: "Roboto", sans-serif;
}

svg {
  color: white;
}

nav {
  width: 245px;
  float: left;
}

.avatar img {
  width: 25px;
  border-radius: 50%;
}

.story img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  cursor: pointer;
}

.post .profile img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.post .post-image img {
  width: 468px;
  height: 468px;
  border-radius: 5px;
  margin-top: 10px;
}

.datetime {
  font-size: 14px;
  color: rgb(168, 168, 168, 1);
}

#side-menu {
  display: flex;
  flex-direction: column;
  width: 245px;
  padding: 25px;
  gap: 30px;
  border-right: 1px solid #262626;
}

#side-menu .option {
  position: relative;
  cursor: pointer;
}

#side-menu .option:hover {
  background-color: #1a1a1a;
}

#side-menu .option span {
  position: absolute;
  margin-top: 5px;
  margin-left: 15px;
}

#stories {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  padding-top: 20px;
}

#posts {
  display: grid;
  grid-auto-flow: row;
  justify-content: center;
  margin-top: 30px;
}

.post .profile {
  display: flex;
}

.post .profile span {
  margin-left: 10px;
  font-weight: 500;
  font-size: 14px;
}

.post .profile time {
  margin-left: 5px;
}

.post .profile span,
time {
  align-self: center;
}

.post .reactions {
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 20px;
  padding-top: 10px;
}

.post .reactions .option {
  cursor: pointer;
}

.post .reactions .save {
  margin-left: auto;
  cursor: pointer;
}

.post .likes {
  margin-top: 5px;
}

.post .likes span {
  font-weight: 500;
  font-size: 14px;
}

.post .author {
  font-weight: 500;
  font-size: 14px;
  margin-top: 8px;
  margin-right: 8px;
  float: left;
}

.post .description {
  margin-top: 5px;
  font-size: 15px;
}

.post .description span:first-child {
  font-size: 15px;
}

.post .description span:last-child {
  font-size: 12px;
  color: rgb(168, 168, 168, 1);
}

.post .comments,
.add-comment {
  margin-top: 10px;
  font-size: 14px;
  color: rgb(168, 168, 168, 1);
}
