#profile {
  display: grid;
  justify-content: center;
  grid-template-areas:
    "picture actions actions"
    "picture number number"
    "picture name name";
  grid-gap: 20px;
  padding: 40px;
}

#profile-picture {
  grid-area: picture;
  margin-top: 25px;
  margin-right: 60px;
  align-self: center;
}

#profile-picture img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

#profile-actions {
  grid-area: actions;
  display: flex;
  gap: 5px;
}

#profile-actions span {
  font-size: 19px;
  margin-right: 10px;
  align-self: center;
}

#profile-actions button {
  border: none;
  border-radius: 8px;
  background-color: #363636;
  color: white;
  padding: 7px;
  width: 101px;
  font-weight: bold;
  margin-right: 3px;
}

#profile-actions svg {
  align-self: center;
}

#profile-numbers {
  grid-area: number;
  display: flex;
  flex-direction: row;
  gap: 30px;
}

#profile-numbers .number {
  font-weight: 500;
  margin-right: 2px;
}

#profile-numbers .description {
  font-size: 15px;
}

#profile-info {
  display: flex;
  flex-direction: column;
}

#profile-name span {
  font-size: 14px;
  font-weight: 500;
}

#profile-threads {
  border: none;
  border-radius: 20px;
  background-color: #363636;
  color: white;
  padding: 7px;
  width: 71px;
  font-size: 12px;
  margin: 8px 0;
}

#profile-threads svg {
  float: left;
  margin-top: -2px;
  margin-right: 3px;
}

#profile-description,
#profile-city {
  font-size: 14px;
}

#favorite-stories {
  display: flex;
  grid-auto-flow: row;
  justify-content: center;
  margin-top: 30px;
  gap: 40px;
}

#favorite-stories .item img {
  width: 77px;
  height: 77px;
  border: 1px solid;
  border-radius: 50%;
  align-self: center;
}

#favorite-stories .item span {
  display: block;
}
