main {
  margin-left: 245px;
}

#profile {
  display: grid;
  justify-content: start;
  grid-template-areas:
    "picture actions actions"
    "picture number number"
    "picture name name";
  grid-gap: 20px;
  margin-left: 140px;
  padding-top: 40px;
}

#profile-picture {
  grid-area: picture;
  margin-top: 25px;
  margin-right: 60px;
  align-self: center;
}

#profile-picture img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

#profile-actions {
  grid-area: actions;
  display: flex;
  gap: 5px;
}

#profile-actions span {
  font-size: 19px;
  margin-right: 10px;
  align-self: center;
}

#profile-actions button {
  border: none;
  border-radius: 8px;
  background-color: #363636;
  color: white;
  padding: 7px;
  width: 101px;
  font-weight: bold;
  margin-right: 3px;
}

#profile-actions svg {
  align-self: center;
}

#profile-numbers {
  grid-area: number;
  display: flex;
  flex-direction: row;
  gap: 30px;
}

#profile-numbers .number {
  font-weight: 500;
  margin-right: 2px;
}

#profile-numbers .description {
  font-size: 15px;
}

#profile-info {
  display: flex;
  flex-direction: column;
}

#profile-name span {
  font-size: 14px;
  font-weight: 500;
}

#profile-threads {
  border: none;
  border-radius: 20px;
  background-color: #363636;
  color: white;
  padding: 7px;
  width: 71px;
  font-size: 12px;
  margin: 8px 0;
}

#profile-threads svg {
  float: left;
  margin-top: -2px;
  margin-right: 3px;
}

#profile-description,
#profile-city {
  font-size: 14px;
}

#favorite-stories {
  display: flex;
  justify-content: start;
  margin-top: 30px;
  margin-left: 110px;
  gap: 40px;
}

#favorite-stories .item {
  cursor: pointer;
}

#favorite-stories .item img,
#favorite-stories svg {
  width: 77px;
  height: 77px;
  border: 1px solid #333333;
  border-radius: 50%;
  padding: 3px;
}

#favorite-stories .item span {
  display: block;
  margin-top: 12px;
  font-size: 11px;
  font-weight: 500;
  text-align: center;
}

#gallery-menu {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  margin-left: 80px;
  margin-right: 80px;
  gap: 80px;
  padding: 20px;
  border-top: 1px solid #262626;
  cursor: pointer;
}

#gallery-menu .item svg {
  margin-right: 5px;
  color: #9da8a8;
}

#gallery-menu .item span {
  text-transform: uppercase;
  font-size: 13px;
  color: #f5f5f5;
  letter-spacing: 0.1vh;
  color: #9da8a8;
}

#posts {
  display: grid;
  justify-self: center;
  gap: 4px;
  row-gap: 0;
  grid-template-columns: repeat(3, 1fr);
}

#posts .image img {
  width: 307px;
  height: 307px;
}
