.story img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid transparent;
  background: linear-gradient(
      45deg,
      #f09433 0%,
      #e6683c 25%,
      #dc2743 50%,
      #cc2366 75%,
      #bc1888 100%
    )
    border-box;
  cursor: pointer;
}

.story span {
  font-size: 12px;
  display: block;
  margin-top: 5px;
  text-align: center;
}

#stories {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  padding-top: 20px;
}
